<div class="container">
	<div class="row">
		<div class="col-md-6 pictures">
			<%= render 'products/product_banner', product: @product %>
		</div>

		<div class="col-md-6">

			<em class="font-weight-bold"><%= @product.title %> </em>
			<hr>

			<p> <%=  @product.description %> </p>

			<p><%= number_to_currency @product.price  %> </p>

			<button type="button" class="btn btn-warning">Add To Cart</button>
			<button type="button" class="btn btn-info">Buy Now</button>
		</div>
	</div>
	<p> <%=  link_to 'Back', products_path, class: " btn btn-primary" %> </p> 
</div>

